<div class="home"><a class="home-link" href="/">Omnomnom</a></div>


<div class="sign group">
    <div class="sign-form">
      <h1>Log In to Omnomnom</h1>
      <p id="guest">New to Omnomnom? <a href="<%= new_user_url %>">Sign up</a></p>
      <p id="guest">Or log in as a <%= link_to 'Guest', guest_path%>

      <form class="sign-form-fields" action="/session" method="post">
        <%= auth_token %>
        <label> Username
          <input type="text" class="form-control" name="user[username]" value="">
        </label>
        <br>
        <label> Password
          <input type="password" class="form-control" name="user[password]" value="">
        </label>
        <br>
        <input type="submit" class="form-control sign-submit" value="Sign In!">
      </form>
    </div>

    <div class="image">
      <img src="https://res.cloudinary.com/omnombloop/image/upload/v1445931029/signup_illustration_bze0or.png"></img>
    </div>
</div>
