/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';


 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }
 body {
   font-family: "bebas", Tahoma, Geneva, sans-serif;
   background: #eee;
 }

.nav-bar {
  display: block;
  text-align: center;
}


h1 {
  font-size: 40;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

.sign-form {
  display: block;
  float: left;
  position: relative;
  left: 25%;
  transform: translateX(-50%);
}

.image {
  display: block;
  float: right;
  position: relative;
  right: 25%;
  transform: translateX(50%);
}

li.restaurant-item {
  border-top: 1px solid #eee;
  padding: 10px;
  position: relative;
}

li.restaurant-item:hover {
  background-color: #eee;
}

li * {
  display: inline-block;
}


.item-info {
  float: left;
  padding-left: 30px;
}

.address {
  display: inline-block;
  position: absolute;
  left: 65%;
}

.restaurant-detail {
  border-top: 1px solid #eee;
  display: block;
  position: relative;
}

.index {
  position: relative;
  min-height: 500px;
  margin: auto;
  min-width: 600px;
  width: 75%;
  background: #fff;
}
.map {
  display: inline-block;
  float: right;
  min-height: 500px;
  width: 45%;
  height: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;

}
.restaurants-index {
  display: inline-block;
  width: 45%;
  padding-top: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  float:left;
}

.log-btn {
  float:right;
  width: 15%;
}


.sign-up {
  border: 1px solid #ddd;
  background-color: #ccc;
  border-style: outset;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 5px;
}

.log-in {
  margin: auto;
  width:80%;
  height: 20%;
}

a:hover {
  text-decoration: none;
}

.restaurant-reviews {
  display:block;
  margin-left: 12%;
  margin-top: 50px;
}
.restaurant-info {
  display: block;
  margin-top: 100px;
  margin-left: 12%;
}
.review-index {
  position: relative;
  width: 70%;
}

.review-item-list {
  margin-top: 20px;
  width:100%;
  position: relative;
}
.review-item:before {
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  width: 1px;
  left: 140px;
  background: #ccc;
}

.review-item {
  width: 100%;
  min-width: 600px;
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
.review-form {
  min-width: 600px;
}
.review-user-info {
  width: 140px;
  display: inline-block;
  padding: 20px;
  text-align: left;
}

span.rating {
  padding: 5px;
}
span.post-date {
  padding: 5px;
}
.user-pic {
  width: 100px;
  height: 100px;
}
.review-content{
  padding: 20px;
  text-align: left;
  display:inline-block;
  width: 300px;
  top: 0;
  position: absolute;
}
.review-body {
  display: block;
}
div.filters {
  padding-top: 5px;

}

div.tag-index {
  background: #ddd;
  opacity: 0.6;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  height: 95%;
  margin: auto;
}

div.tag-index > ul {
  margin-left: 5px;
}

li.tag-item {
  display: block;
  padding: 5px 10px;
}

nav.navbar {
  margin-bottom: 0;
}
.nav-links {
  padding-left: 15px;
}
.nav-links-list > li {
  display: inline-block;
  float: left;
  padding: 5px 10px;
}

.nav-links-list > li:hover {
  text-decoration: none;
  background: #ddd;
  border-radius: 5px;
}

.container-fluid {
  margin: auto;
  width: 75%;
}

li:hover .user-links {
  display: block;
}
li.nav-user-links {
  position: relative;
}

.nav-user-links p {
  text-align: right;
}
.nav-user-links a {
  text-align: right;
  padding: 0;
}
.nav-user-links {
  padding-top: 20px;
}

.navbar-header {
  padding-top: 10px;
  width: 10%;
}
.container-fluid {
  position: relative;
}
.navbar-header {
  display: block;
}

.navbar-collapse > * {
  display: inline-block;
}
.user-links{
  display: none;
  position: absolute;
  right: 0;
  z-index: 1000;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}
.user-links > li {
  text-align: right;
  display: block;
  font-size: 20px;
  padding: 20px 30px;
  background: white;
  border-top: 1px solid #eee;
}

.user-links > li:hover {
  background: #eee;
}

.collapse.navbar-collapse > * {
  display: inline-block;
}

.user-nav-search {
  width: 75%;
  margin: auto;
}

.user-nav-search .form-group {
  width: 45%;
  padding-right: 5px;
}
.user-nav-search .btn {
  width: 40px;
}
.user-nav-search .form-group .form-control{
  width: 100%;
}

.search-result {
  position: relative;
}
.search-result-list {
  width: 100%;
  position: absolute;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-result-list > li {
  width: 100%;
  position: relative;
  z-index: 1000;
  text-align: center;
  background: white;
  padding: 5px 10px;
}

.search-result-list > li:hover {
  background: #ccc;
}
.tag-item {
  color: blue;
}
.tag-item:hover {
  text-decoration: underline;
}
