/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';


 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }
 body {
   font-family: "bebas", Tahoma, Geneva, sans-serif;
   -webkit-font-smoothing: antialiased;
   background: #eee;
 }

.nav-bar {
  display: block;
  text-align: center;
}

.user-nav-search form.navbar-form{
  margin-bottom: 8px;
  margin-top: 0px;
  border-bottom: none;
  height: 30px;
}

img {
  object-fit:contain;
  object-fit:cover;
}

h1 {
  color: #c41200;
  font-size: 38px;
  // font-weight: bold;
}

h2 {
  color: #333;
  font-size: 2.5rem;
  // font-weight: bold;
}

.sign-form {
  position: absolute;
  left: 25%;
  padding-top:5%;
  transform: translateX(-50%);
}

.sign-form p {
  padding: 5% 0;
}

.sign-form-fields > label {
  width: 100%;
  padding-bottom: 5%;
}

.sign-submit {
  width: 20%;
  margin: auto;
}

.sign {
  padding-top: 5%;
  min-width: 1100px;
  position: relative
}

.restaurants-index-list {
  border-bottom: 1px solid #ddd;
}

.image {
  position: absolute;
  right: 25%;
  transform: translateX(50%);
}

li.restaurant-item {
  border-top: 1px solid #eee;
  padding: 10px;
  position: relative;
}

li.restaurant-item:hover {
  background-color: #EFEFEF;
}

.page-display > * {
  display: block;
}

p#guest {
  text-align: center;
  font-weight: bold;
}

.page-display {
  display: block;
}

.page-display-content{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.page-display p {
  float: left;
}

.page-nav {
  float: right;
}
.page-nav > * {
  display: block;
  float: left;
}

.page-list > li {
  display: block;
  float: left;
}

.item-info {
  float: left;
  padding-left: 5px;
}

.item-info > * {
  display: inline-block;
}

.item-picture {
  padding-left: 5px;
  float:left;
}

.price-range-index > li {
  display: block;
  float: left;
}

.price-range-index {
  position:absolute;
  bottom: 20px;
}

.item-picture img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 15px;
}

.search-params {
  position: absolute;
  bottom: 65px;
  font-size: 20px;
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.restaurant-form-contents {
  margin: auto;
  width: 980px;
}

.address {
  display: inline-block;
  position: absolute;
  left: 65%;
}

.restaurant-detail {
  border-top: 1px solid #eee;
  display: block;
  position: relative;
}




.index {
  position: relative;
  min-height: 500px;
  margin: auto;
  padding-bottom: 5%;
  min-width: 1100px;
  width: 100%;
  height: 100%;
  background: white;
}
.header {
  min-height: 140px;
  min-width: 1100px;
  position: relative;
}

.header-user-info > * {
  display: inline-block;
}

.inner-header {
  margin: auto;
  width: 980px;
}


.map {

  width: 250px;
  height: 375px;
}

.map-holder {
  position: relative;
  margin-bottom: 2.5%;
  margin-top: 20px;
}
.map-locked {
  position: fixed;
  top: 0px;
  // width: inherit;
  margin-top: 20px;

}

.map-container {
  display: inline-block;
  float: left;
  min-height: 500px;
  width: 25%;


}
.restaurants-index {
  display: inline-block;
  width: 70%;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float:left;
}

.nav-user-info p{
  padding-left: 10px;
}

.log-in {
  margin: auto;
  width: 980px;
  height: 20%;
}

a:hover {
  text-decoration: none;
}

.restaurant-header {
  position: relative;
}

.restaurant-header > * {
  // display: inline-block;
}

.restaurant-buttons {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.restaurant-buttons > * {
  display: block;
  float: left;
}

.restaurant-form-info {
  width: 50%;
  display: block;
  float: left;
  clear: left;
}

label#restaurant-name {
  width: 980px;
  padding: 5% 0;
  display: inline-block;
  float: left;
}

label#tag {
  width:50%;
  padding-bottom: 5%;
  padding-right: 5%;
  display: inline-block;
  float: left;
}
label#price-range {
  width:30%;
  padding-bottom:5%;
  padding-right: 5%;
  display: inline-block;
  float: left;
}

.error-message {
  color: red;
  display: block;
  clear: left;
}

.restaurant-form-map {
  width: 50%;
  display: block;
  float: left;
}

.errors {
  width: 30%;
  margin: auto;
  background: #ddd;
  border: 1px solid black;
  padding: 10px 20px;
}

.restaurant-body-contents {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.upload-widget {
  font-size: 0.8em;
  color: #333;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 5px;
  background: linear-gradient(white,#eee);
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  cursor: hand;
}
.bookmark {
  font-size: 0.8em;
  color: #333;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(white,#eee);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  cursor: hand;
}

.priceItem {
  font-size: 0.8em;
  color: #333;
  padding: 10px 16px;
  background: #F5F5F0;
  border-left: 1px solid #ccccc8;
  border-top: 1px solid #ccccc8;
  border-bottom: 1px solid #ccccc8;
  cursor: pointer;
  cursor: hand;
}

.firstPrice {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.location-index-list > * {
  display: inline-block;
  float: right;
}

.location-item:hover {
  text-decoration: underline;
}

.lastPrice {
  border-top-right-radius: 4px;
  border-right: 1px solid #ccccc8;
  border-bottom-right-radius: 4px;
}
.price-range-index .selected {
  background: #c4f3a4;
  border-right: 1px solid #348c42;
  border-color: #348c42;
  color: #348c42;
}

.location-item .selected {
  background: #99CCFF;
  border-color: #3b65a7;
  border: 2px solid #3b65a7;
  color: #3b65a7;
}

.location-item div {
  font-size: 13px;
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.review-options > *{
  font-size: 0.8em;
  color: #333;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  background: linear-gradient(white,#eee);
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  cursor: hand;
}

.review-options {
  display: block;
  float: right;
}

.review-options > *:hover {
  background: #F5F5F0;
}

.bookmark:hover {
  background: #F5F5F0;
}
.upload-widget:hover {
  background: #F5F5F0;
}

.bookmark p {
  font-family: "bebas", Tahoma, Geneva, sans-serif;
  display: inline-block;
  line-height: 1.1em;
  padding-left:8px;
}

.upload-widget p {
  font-family: "bebas", Tahoma, Geneva, sans-serif;
  display: inline-block;
  line-height: 1.1em;
  padding-left:8px;
}

.restaurant-reviews {
  display:block;
  width: 980px;
  margin: auto;
  padding-top: 50px;
}

.review-index {
  padding-top: 50px;
  position: relative;
  margin: auto;
  width: 980px;
}

.review-item-list {
  margin-top: 15px;
  width:100%;
  position: relative;
}

.review-item > * {
  float: left;
}

.review-item {
  width: 100%;
  min-width: 600px;
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.review-form {
  min-width: 300px;
}
.review-form p{
  font-weight: bold;
}
.review-user-info {
  width: 300px;
  display: inline-block;
  padding: 20px 20px 20px 0;
  text-align: left;
}

.review-user-info > * {
  display: inline-block;
  float: left;
}


.restaurant-form-contents > h2 {
  padding-top: 3%;
  text-align: center;
}
.restaurant-form-contents > p {
  padding-top: 2%;
  text-align: center;
}

.restaurant-form-location {
  margin: 5% 0;
  width: 50%;
  display: block;
  float: left;
}

.restaurant-form-picture {
  height: 100%;
  width: 50%;
  display: block;
  float: right;
}

.restaurant-form-picture img {
  width: 80%;
  margin-left: 10%;
  height: 100%;
}


label#street-address {
  width: 100%;
  padding: 5% 0;
  display: inline-block;
  float: left;
}

label#city {
  width: 70%;
  padding: 5% 0;
  display: inline-block;
  float: left
}


label#states {
  width: 20%;
  margin-left: 10%;
  padding: 5% 0;
  display: inline-block;
  float: left;
}

.restaurant-form-submit {
  clear: left;
  display: block;
}

.user-info p {
  padding-left: 10px;
}

.review-user-info img {
  border-radius: 8px;
  height: 100px;
  width: 100px;
}

.review-restaurant-info {
  width: 300px;
  display: inline-block;
  padding: 20px 20px 20px 0;
  text-align: left;
}


.review-restaurant-info img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.filter-info > * {
  display: inline-block;
}


.user-side-info {
  left: 115px;
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}

.user-side-info:hover {
  text-decoration: underline;
}

.restaurant-side-info {
  left: 115px;
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}

.restaurant-side-info:hover {
  text-decoration: underline;
}

.user-pic {
  width: 100px;
  height: 100px;
}

.review-content{
  padding: 20px 0 20px 20px;
  text-align: left;
  display:inline-block;
  width: 65%;
}
.review-body {
  display: block;
}
div.filters {
  padding-top: 5px;
  margin: auto;
  width: 980px;
}

.place-info {
  padding: 7px;
  border: 1px solid #ccc;
  background: white;
  font-weight: 600;
  display: inline-block;
  float: left;
  position: absolute;
  z-index: 750;
  box-shadow: 10px 5px 5px black;
}

.business-detail {
  bottom: -3px;
}

div.tag-index {
  border-radius: 5px;
  display: block;
  float: right;
  clear: both;
}

div.tag-index > ul {
  margin-left: 5px;
}

li.tag-item {
  display: inline-block;
  padding-right: 5px;
}

nav.navbar {
  margin-bottom: 0;
}
.nav-links {
  padding-left: 15px;
}
.nav-links-list > li {
  display: inline-block;
  float: left;
  border-top: 1px solid transparent;
  border-left: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 7px 10px;
  cursor: hand;
  cursor: pointer;
}

.nav-links {
  display: inline-block;
}

.nav-links-list > li:hover {
  text-decoration: none;
  background: #8F0101;
  border-radius: 3px;
  border-top: 1px solid #ab0606;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-bottom: 1px solid #CF0101;
  border-style: inset;
}

.logo a {
  color: #eee;
  font-size: 16px;
  // font-weight: bold;
}

.logo {
  float: left;
  width: 115px;
}

.logo a:hover {
  text-decoration: none;
}


.container-content {
  margin: auto;
  width: 980px;
}

.log-btn {
  float: right;
  width: 91px;
  margin-top: 20px;
}

.index-container {
  width: 980px;
  margin: auto;
}

.home {
  position: relative;
  border-bottom: 1px solid #853330;
  background:center, linear-gradient(#c41200, #af0606);
  color: #eee;
  font-family: "bebas", Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 0 5px black;
  width: 100%;
  height: 100px;
  min-width: 1100px;
}

.nav-links-list a{
  color: #eee;
}


li:hover .user-links {
  display: block;
}
li.nav-user-links {
  position: relative;
}

.navbar .navbar-default {
  min-width: 1100px;
  width: 980px;
}

.nav-user-links > * {
  display: block;
  float: right;
}
.nav-user-links img {
  width: 40px;
  height: 40px;
  border: 1px solid #9F0606;
  padding: 0;
  border-radius: 5px;

}
.nav-user-links {
  padding-top: 20px;
}

.user-links{
  display: none;
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 1000;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}


.sign-up {
  background:linear-gradient(#be0100 4%, #a20000 5%, #7c0000 100%);
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid #7b0000;
  padding: 8px 15px;

}

.sign-up:hover {
  background: #850000;
}

.log:hover {
  background: rgba(109,10,0,0.5);
  box-shadow: inset 0 1px 0 #7b0000,0 1px 0 #c33f01;
}
.log {
  margin-top: 5px;
  text-align: center;
  padding: 4px 7.5px;
}


.log-content > a {
  color: #eee;
}

li.content > * {
  display: inline-block;
  margin: auto;
  color: #3b65a7;
}

.user-link-list {
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.user-link-list > li {
  text-align: right;
  display: block;
  font-size: 13px;
  cursor: pointer;
  cursor: hand;
}

.user-links {
  padding: 15px;
  background: white;
}

.user-links > *{
  margin-bottom: 10px;
}

.rating-len {
  color: #333;
}

.log-out {
  color: #3b65a7;
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
}

.log-out:hover {
  text-decoration: underline;
}

.nav-user-info > * {
  display: block;
  float: left;
}

.header-user-info img{
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
}
.user-profile-img {
  position:relative;
  transform: translateY(30%);
  z-index: 500;
}

.header-user-info {
  margin: auto;
  width: 980px;
  position: relative;
}

.user-actions {
  border-left: 1px solid #ddd;
  padding: 20px;
}

.user-stats {
  width: 50%;
  padding-left: 30px;
  transform: translateY(-20%);
}

.user-actions > .upload-widget {
  border-radius: 5px;
}

.user-stats h1 {
  padding-left: 10px;
}

.large .rating-num> * {
  font-size: 18px;
}

.user-link-list > li p {
  padding-left: 8px;
}

.user-link-list > li:hover p {
  text-decoration: underline;
}

.collapse.navbar-collapse > * {
  display: inline-block;
}

.search > * {
  float: left;
}

.search {
  height: 45px;
}

a.home-link {
  font-size: 22px;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}


a.home-link:hover {
  text-decoration: none;
}

.user-nav-search {
  padding-left: 15px;
  padding-top: 15px;
  margin-left: 115px;
  margin-right: 91px;
}

.user-nav-search .form-group {
  width: 45%;
  padding-right: 5px;
  overflow: visible;
}
.user-nav-search .btn {
  width: 40px;
}
.user-nav-search .form-group .form-control{
  overflow: visible;
  width: 100%;
}

.search-result {
  overflow:visible;
  position: relative;
  position: relative;
  z-index: 1000;
}
.search-result-list {
  width: 100%;
  position: absolute;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p.restaurant-title {
    color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}
p.restaurant-title:hover {
  text-decoration: underline;
}

.search-result-list > li {
  width: 100%;
  position: relative;
  z-index: 1000;
  text-align: center;
  color: #333;
  background: white;
  padding: 5px 10px;
}

.search-result-list > li:hover {
  background: #ccc;
}

.tag-item {
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}
.tag-item:hover {
  text-decoration: underline;
}

.picture-info {
  display: inline-block;
  margin-left: 350px;
}

.picture-info li{
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index:999;
}

.picture-info img {
  width: 200px;
  height: 200px;
  object-position: center;
}


.picture-info li:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
  z-index: 1000;
}

.restaurant-detail-map {
  width: 300px;
  height: 175px;
  border: 1px solid #ccc;
}

.restaurant-form-map {
  float: left;
  clear:left;
  min-height: 200px;
  text-align: center;
  width: 40%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 2.5%;
  margin-top: 20px;

}
.restaurant-title-info {
  position: relative;
  padding: 20px 0;
}
.restaurant-title-info > .upload-widget {
  position: absolute;
  right: 12%;
}

.review-info {
  display: inline-block;
  padding-bottom: 15px;
}

.review-form-info {
  padding: 20px 20px 0 20px;
  display: inline-block;
}

.review-form-info * {
  display: inline-block;

}

.rating-form h5 {
  margin-left: 20px;
}


.review-info * {
  display: inline-block;
}

body {
  font-size: 18px;
  color: #555;
}

.rating {
  margin: 10px 0;
  display: inline-block;
}
.rating-form {
  margin: 10px 0;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  padding: 15px 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.review-info .rating {
  margin: 0;
}

.rating .encompassing {
  display: inline-block;
  margin-right: 5px;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #ccccc8;
  border-radius: .18em;
  color: white;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 2px #b3b3b3;
  box-shadow: 0 0 1px #b4b4bb4;
}


[date-rate='0.5'] .star-1 {
    border-left-color: #cc8b1f;
}

[data-rate^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rate='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rate^='2'] .star-1, [data-rate^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rate='2.5'] .star-3 {
  border-left-color: #dcb228;
}

[data-rate^='3'] .star-1, [data-rate^='3'] .star-2, [data-rate^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rate='3.5'] .star-4 {
  border-left-color: #f0991e;
}

[data-rate^='4'] .star-1, [data-rate^='4'] .star-2, [data-rate^='4'] .star-3, [data-rate^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rate='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

[data-rate^='5.0'] .star-1,
[data-rate^='5.0'] .star-2,
[data-rate^='5.0'] .star-3,
[data-rate^='5.0'] .star-4,
[data-rate^='5.0'] .star-5{
  border-color: #dd050b;
  background: #dd050b;
}

/** Print */
@media print {
  .rating {
    -webkit-print-color-adjust: exact;
  }
  .rating i {
    text-shadow: none;
  }
  .rating-form label {
    text-shadow: none;
  }

  .rating-form {
    webkit-print-color-adjust: exact;
  }
}

.rating-form .encompassing {
  display: inline-block;
  margin-left: 5px;
}

.rating-form i{
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  background-position: 0 0;
  border-style: solid;
  border-color: #ccccc8;
  border-radius: .18em;
  color: white;
  margin-left: 5px;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 2px #b3b3b3;
  box-shadow: 0 0 1px black;
}

.encompassing {
  height: 1.5em;
  width: 1.5em;
}



.star i{
  width: 0;
  height: 0.6em;
  border-width: 0 0.15em;
  background-position: 0 0;
  border-style: solid;
  border-color: #ccccc8;
  border-radius: .18em;
  color: white;
  margin-left: 5px;
  font-style: normal;
  line-height: 1.05em;
  text-indent: -0.4em;
}

.star i {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-num {
  padding: 6px;
}

.rating-num > *{

  display: block;
  float: left;
  font-size: 10px;
}

b {
  font-weight: bold;
}

.review-form-submit {
  border: 1px solid #a50508;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  cursor: hand;
  background: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  border-radius: 3px;
  padding: 5px 10px;
  position: relative;
}

.review-form-submit p {
  transform: translateY(-23%);
  color: #eee;
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

.review-form-submit div {
  color: #333;
  opacity: 0.6;
}

.restaurant-form-submit p {
  transform: translateY(-23%);
  color: #eee;
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

.restaurant-form-submit {
  border: 1px solid #a50508;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  cursor: hand;
  background: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  border-radius: 3px;
  padding: 5px 10px;
  position: relative;
}
.restaurant-form-submit div {
  color: #333;
  opacity: 0.6;
}

.restaurant-form-submit >* {
  display: inline-block;
}
.review-body {
  width: 100%;
  padding: 7.5px 0;
}

.review-form > * {
  display: block;
}

.review-body p {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 7.5px;
}

.review-body textarea {
  width: 100%;
  height: 150px;
}

li.current {
  border: 1px solid #ddd;
  background: #eee;
  color: #333;
  font-weight: bold;
  padding: 3px 8px;
  cursor: pointer;
  cursor: hand;
}

.display-page-content p {
  padding: 3px;
}

li.page-number {
  font-size: 14px;
  border: 1px solid white;
  padding: 3px 8px;
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}

li.page-number:hover {
  text-decoration: underline;
}

.page-button {
  color: #3b65a7;
  cursor: pointer;
  cursor: hand;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 5px 20px;
  position: fixed;
  bottom: 0;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 12px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:16px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.4;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 25px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 25px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

.notification a:hover{
  cursor: pointer;
  cursor: hand;
}
.log-in-notification {
  padding: 10px;
}

.log-in-notification a:hover {
  cursor: pointer;
  cursor: hand;
}

.page-button-slideshow:hover {
  cursor: pointer;
  cursor: hand;
}

.page-button-slideshow {

}
.slideshow > img{
  position: absolute;
  z-index: 1100;
  left: 50%;
  transform: translateX(-50%);
}

.modal-show {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.6
}
